name: {{project_name}}
services:
  web:
    build: .
    restart: {{restart}}
    image: {{project_name}}
    container_name: {{odoo_container}}
    depends_on:
      - db
    ports:
      - "{{odoo_port}}:8069"
      - "{{vsc_port}}:8888"
    volumes:
      - {{project_name}}-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/usr/lib/python3/dist-packages/odoo/extra-addons
      #- ./enterprise:/usr/lib/python3/dist-packages/odoo/enterprise
      - ./.vscode:/usr/lib/python3/dist-packages/odoo/.vscode
  db:
    restart: {{restart}}
    image: postgres:{{db_version}}
    container_name: {{db_container}}
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - POSTGRES_USER=root
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - {{project_name}}-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password
volumes:
  {{project_name}}-web-data:
  {{project_name}}-db-data:

secrets:
  postgresql_password:
    file: odoo_pg_pass
